node_modules
.env
.env.local
.env.*.local
artifacts
cache
typechain-types
coverage
coverage.json
.coverage_artifacts
.coverage_cache
.coverage_contracts
dist
deployments/localhost
deployments/hardhat
fhevmTemp/
.DS_Store
*.log
